<hr class="offset-top">
<div class="tags">
  <div class="container">
    <div class="btn-group pull-right sorting">
      <%= sort_link @search, :price, t("store.sorting"), default_order: :asc %>
    </div>

      <%= search_form_for @search, url: store_path, class: "form-inline" do |f| %>
        <p><%= t("store.filter") %></p>
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("store.search") %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= f.search_field :category_name_or_name_or_description_or_price_cont, class: "form-control", placeholder: t("store.search_placeholder") %></li>
            </ul>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("store.price") %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= f.number_field :price_gteq, class: "form-control", placeholder: t("store.bigger_price") %></li>
              <li><%= f.number_field :price_lteq, class: "form-control", placeholder: t("store.smaller_price") %></li>
            </ul>
          </div>
          <% if current_user %>
            <% if current_user.admin? %>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Create at <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= f.date_field(:created_at_date_equals, class: "form-control") %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("store.category") %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= f.select :category_id_eq, options_from_collection_for_select(Category.get_child, "id", "name", @search.category_id_eq), include_blank: true, class: "form-control" %></li>
            </ul>
          </div>
        </div>
        <%= f.submit t("action.search") %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <hr class="offset-lg">
      <div class="filter">
        <div class="item">
            <div class="title">
              <h1 class="h4"><%= t("categories.category") %></h1>
            </div>
            <div class="controls">
              <ul class="list-group">
                <% get_categories.each do |parent| %>
                  <li class="list-group-item">
                    <span class="badge"><%= parent.children.count %></span>
                    <a href="#" class="dropdown-toggle" id="dropdownMenu<%= parent.id %>"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    ><i class="ion-arrow-down-b"></i><%= parent.name %></a>

                    <ul class="list-group dropdown-menu" aria-labelledby="dropdownMenu<%= parent.id %>">
                      <% parent.children.each do |child| %>
                        <%= link_to child.name, "?filter=by_category&category=#{child.id}", class: "list-group-item" %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <hr class="offset-lg">
      <div class="products">
        <div class="row">
          <%= render partial: "products/products", collection: @products, as: "pro" %>
        </div>
      </div>
        <ul class="pagination">
          <%= will_paginate @products, previous_label: "&#8592;", next_label: "&#8594;" %>
        </ul>
      </nav>
    </div>
  </div>
</div>