<hr class="offset-top">
<div class="tags">
  <div class="container">
    <div class="btn-group pull-right sorting">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ion-arrow-down-b"></i> <%= t("store.sorting") %>
      </button>

      <ul class="dropdown-menu">
        <li><%= link_to t("store.price_low"), "?filter=price_asc", class: "ion-arrow-down-c" %></li>
        <li><%= link_to t("store.price_high"), "?filter=price_desc", class: "ion-arrow-up-c" %></li>
      </ul>
    </div>

    <p><%= t("store.search_by_name") %></p>
    <%= form_tag store_path, method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= hidden_field_tag :filter, "search_by_name", class: "form-control" %>
        <%= text_field_tag :search, nil, class: "form-control" %>
        <%= submit_tag t("action.search"), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <hr class="offset-lg">
      <div class="filter">
        <div class="item">
            <div class="title">
              <h1 class="h4"><%= t("categories.category") %></h1>
            </div>
            <div class="controls">
              <ul class="list-group">
                <% get_categories.each do |parent| %>
                  <li class="list-group-item">
                    <span class="badge"><%= parent.children.count %></span>
                    <a href="#" class="dropdown-toggle" id="dropdownMenu<%= parent.id %>"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    ><i class="ion-arrow-down-b"></i><%= parent.name %></a>

                    <ul class="list-group dropdown-menu" aria-labelledby="dropdownMenu<%= parent.id %>">
                      <% parent.children.each do |child| %>
                        <%= link_to child.name, "?filter=by_category&category=#{child.id}", class: "list-group-item" %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <hr class="offset-lg">
      <b><% if @filter_message  %><%= @filter_message %><% end %></b>
      <div class="products">
        <div class="row">
          <%= render partial: "products/products", collection: @filter, as: "pro" %>
        </div>
      </div>
      <nav>
        <ul class="pagination">
          <%= will_paginate @filter, previous_label: "&#8592;", next_label: "&#8594;" %>
        </ul>
      </nav>
    </div>
  </div>
</div>