<% if pro.is_a?(Hash) %>
  <div class="col-sm-6 col-md-3 product">
    <div class="body">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <%= link_to image_tag "products/apple-imac-27-retina.jpg" %>
      <div class="content align-center">
        <p class="price"><%= number_to_currency(pro["price"]) %></p>
        <h2 class="h3"><%= pro["name"] %></h2>
        <hr class="offset-sm">
        <%= link_to product_path(pro["id"]) do %>
          <i class="ion-android-open"></i> <%= t("products.details") %>
        <% end %>
        <button class="btn btn-link"> </button>
        <%= form_tag cart_index_path, remote: true do %>
          <%= hidden_field_tag :product_id, pro["id"] %>
          <%= submit_tag t("action.add_to_cart"), class: "btn btn-primary btn-sm rounded", onclick: t("action.added_cart") %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-sm-6 col-md-3 product">
    <div class="body">
      <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
      <%= link_to image_tag "products/apple-imac-27-retina.jpg" %>
      <div class="content align-center">
        <p class="price"><%= number_to_currency(pro.price) %></p>
        <h2 class="h3"><%= pro.name %></h2>
        <hr class="offset-sm">
        <%= link_to product_path(pro.id) do %>
          <i class="ion-android-open"></i> <%= t("products.details") %>
        <% end %>
        <button class="btn btn-link"> </button>
        <%= form_tag cart_index_path, remote: true do %>
          <%= hidden_field_tag :product_id, pro.id %>
          <%= submit_tag t("action.add_to_cart"), class: "btn btn-primary btn-sm rounded", onclick: t("action.added_cart") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
