<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "carousel", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "font", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "bootstrapjs", "data-turbolinks-track": "reload" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bootstrap template for you store - E-Commerce Bootstrap Template">
    <meta name="keywords" content="unistore, e-commerce bootstrap template, premium e-commerce bootstrap template, premium bootstrap template, bootstrap template, e-commerce, bootstrap template, sunrise digital">
    <meta name="author" content="Sunrise Digital">
  </head>

  <body>
    <div class="toplinks">
      <%= render "shared/toplinks" %>
    </div>
    <hr class="offset-md">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render "admin/admin_shared/nav_admin" %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
    </div>
  </body>
</html>
